<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainWindowShowsFormatBar</key>
	<true/>
	<key>QRPanelSettings</key>
	<dict>
		<key>1000</key>
		<dict>
			<key>BinderID</key>
			<integer>1000</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>textScale</key>
				<integer>100</integer>
			</dict>
			<key>WindowFrame</key>
			<string>1063 671 475 522 0 0 2560 1418 </string>
		</dict>
		<key>1248</key>
		<dict>
			<key>BinderID</key>
			<integer>1248</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>textScale</key>
				<integer>100</integer>
			</dict>
			<key>WindowFrame</key>
			<string>1063 650 475 522 0 0 2560 1418 </string>
		</dict>
		<key>1254</key>
		<dict>
			<key>BinderID</key>
			<integer>1254</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>textScale</key>
				<integer>100</integer>
			</dict>
			<key>WindowFrame</key>
			<string>1042 694 475 522 0 0 2560 1418 </string>
		</dict>
		<key>2502</key>
		<dict>
			<key>BinderID</key>
			<integer>2502</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>textScale</key>
				<integer>100</integer>
			</dict>
			<key>WindowFrame</key>
			<string>1063 671 475 522 0 0 2560 1418 </string>
		</dict>
		<key>288</key>
		<dict>
			<key>BinderID</key>
			<integer>288</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>textScale</key>
				<integer>100</integer>
			</dict>
			<key>WindowFrame</key>
			<string>1042 673 475 522 0 0 2560 1418 </string>
		</dict>
		<key>3727</key>
		<dict>
			<key>BinderID</key>
			<integer>3727</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>textScale</key>
				<integer>100</integer>
			</dict>
			<key>WindowFrame</key>
			<string>1042 694 475 522 0 0 2560 1418 </string>
		</dict>
		<key>65</key>
		<dict>
			<key>BinderID</key>
			<integer>65</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>textScale</key>
				<integer>100</integer>
			</dict>
			<key>WindowFrame</key>
			<string>1042 673 475 522 0 0 2560 1418 </string>
		</dict>
		<key>967</key>
		<dict>
			<key>BinderID</key>
			<integer>967</integer>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 273}, {475, 163}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>textScale</key>
				<integer>100</integer>
			</dict>
			<key>WindowFrame</key>
			<string>1042 673 475 522 0 0 2560 1418 </string>
		</dict>
	</dict>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>3</integer>
		<key>Title</key>
		<string>Software Documentation</string>
	</dict>
	<key>binderIsCollapsed</key>
	<false/>
	<key>binderSelection</key>
	<array>
		<integer>10</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {439, 742}}</string>
		<string>{{440, 0}, {968, 742}}</string>
	</array>
	<key>binderState</key>
	<array>
		<integer>0</integer>
		<integer>1002</integer>
		<integer>297</integer>
		<integer>289</integer>
		<integer>290</integer>
		<integer>1004</integer>
		<integer>6</integer>
		<integer>264</integer>
		<integer>978</integer>
		<integer>265</integer>
		<integer>270</integer>
		<integer>1089</integer>
		<integer>11</integer>
		<integer>1076</integer>
		<integer>4247</integer>
		<integer>101</integer>
		<integer>106</integer>
		<integer>979</integer>
		<integer>973</integer>
		<integer>126</integer>
		<integer>964</integer>
		<integer>254</integer>
		<integer>318</integer>
		<integer>287</integer>
	</array>
	<key>binderWidth</key>
	<real>439</real>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>1</integer>
	</array>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {191, 101}}</string>
		<string>{{0, 102}, {191, 555}}</string>
	</array>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {740, 366}}</string>
		<string>{{0, 376}, {740, 340}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenBackgroundFade</key>
	<real>0.89999997615814209</real>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperPosition</key>
	<integer>0</integer>
	<key>fullScreenPaperWidth</key>
	<integer>1120</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<true/>
	</dict>
	<key>inspectorIsCollapsed</key>
	<false/>
	<key>inspectorReferencesColumns</key>
	<dict>
		<key>order</key>
		<array>
			<string>ICON</string>
			<string>DESCRIPTION</string>
			<string>URL</string>
		</array>
		<key>widths</key>
		<dict>
			<key>DESCRIPTION</key>
			<real>87</real>
			<key>ICON</key>
			<real>16</real>
			<key>URL</key>
			<real>115.44239807128906</real>
		</dict>
	</dict>
	<key>inspectorSelectedDataTab</key>
	<integer>0</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {740, 716}}</string>
		<string>{{741, 0}, {227, 716}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.affectsOtherEditor</key>
	<false/>
	<key>mainDocumentEditor.binderDocuments</key>
	<array/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>3</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>3</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
	</array>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>37</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4247</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4248</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4252</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4378</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4252</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4254</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4255</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4256</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4257</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4258</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4248</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4248</integer>
					<integer>4252</integer>
					<integer>4254</integer>
					<integer>4255</integer>
					<integer>4256</integer>
					<integer>4257</integer>
					<integer>4258</integer>
					<integer>4259</integer>
					<integer>4392</integer>
					<integer>4393</integer>
					<integer>4260</integer>
					<integer>4394</integer>
					<integer>4395</integer>
					<integer>4261</integer>
					<integer>4396</integer>
					<integer>4397</integer>
					<integer>4262</integer>
					<integer>4398</integer>
					<integer>4399</integer>
					<integer>4263</integer>
					<integer>4400</integer>
					<integer>4401</integer>
					<integer>4264</integer>
					<integer>4402</integer>
					<integer>4403</integer>
					<integer>4265</integer>
					<integer>4404</integer>
					<integer>4405</integer>
					<integer>4266</integer>
					<integer>4406</integer>
					<integer>4407</integer>
					<integer>4267</integer>
					<integer>4408</integer>
					<integer>4409</integer>
					<integer>4268</integer>
					<integer>4410</integer>
					<integer>4411</integer>
					<integer>4269</integer>
					<integer>4412</integer>
					<integer>4413</integer>
					<integer>4270</integer>
					<integer>4414</integer>
					<integer>4415</integer>
					<integer>4271</integer>
					<integer>4416</integer>
					<integer>4417</integer>
					<integer>4272</integer>
					<integer>4418</integer>
					<integer>4419</integer>
					<integer>4273</integer>
					<integer>4420</integer>
					<integer>4421</integer>
					<integer>4274</integer>
					<integer>4422</integer>
					<integer>4423</integer>
					<integer>4275</integer>
					<integer>4424</integer>
					<integer>4425</integer>
					<integer>4276</integer>
					<integer>4426</integer>
					<integer>4427</integer>
					<integer>4277</integer>
					<integer>4428</integer>
					<integer>4429</integer>
					<integer>4278</integer>
					<integer>4430</integer>
					<integer>4431</integer>
					<integer>4279</integer>
					<integer>4432</integer>
					<integer>4433</integer>
					<integer>4280</integer>
					<integer>4434</integer>
					<integer>4435</integer>
					<integer>4281</integer>
					<integer>4436</integer>
					<integer>4437</integer>
					<integer>4282</integer>
					<integer>4438</integer>
					<integer>4439</integer>
					<integer>4283</integer>
					<integer>4440</integer>
					<integer>4441</integer>
					<integer>4284</integer>
					<integer>4442</integer>
					<integer>4443</integer>
					<integer>4285</integer>
					<integer>4444</integer>
					<integer>4445</integer>
					<integer>4286</integer>
					<integer>4446</integer>
					<integer>4447</integer>
					<integer>4287</integer>
					<integer>4448</integer>
					<integer>4449</integer>
					<integer>4288</integer>
					<integer>4450</integer>
					<integer>4451</integer>
					<integer>4289</integer>
					<integer>4452</integer>
					<integer>4453</integer>
					<integer>4290</integer>
					<integer>4454</integer>
					<integer>4455</integer>
					<integer>4291</integer>
					<integer>4456</integer>
					<integer>4457</integer>
					<integer>4292</integer>
					<integer>4458</integer>
					<integer>4459</integer>
					<integer>4293</integer>
					<integer>4460</integer>
					<integer>4461</integer>
					<integer>4294</integer>
					<integer>4462</integer>
					<integer>4463</integer>
					<integer>4295</integer>
					<integer>4464</integer>
					<integer>4465</integer>
					<integer>4296</integer>
					<integer>4466</integer>
					<integer>4467</integer>
					<integer>4297</integer>
					<integer>4468</integer>
					<integer>4469</integer>
					<integer>4298</integer>
					<integer>4470</integer>
					<integer>4471</integer>
					<integer>4299</integer>
					<integer>4472</integer>
					<integer>4473</integer>
					<integer>4300</integer>
					<integer>4474</integer>
					<integer>4475</integer>
					<integer>4301</integer>
					<integer>4476</integer>
					<integer>4477</integer>
					<integer>4302</integer>
					<integer>4478</integer>
					<integer>4479</integer>
					<integer>4303</integer>
					<integer>4480</integer>
					<integer>4481</integer>
					<integer>4304</integer>
					<integer>4482</integer>
					<integer>4483</integer>
					<integer>4305</integer>
					<integer>4484</integer>
					<integer>4485</integer>
					<integer>4306</integer>
					<integer>4486</integer>
					<integer>4487</integer>
					<integer>4307</integer>
					<integer>4488</integer>
					<integer>4489</integer>
					<integer>4308</integer>
					<integer>4490</integer>
					<integer>4491</integer>
					<integer>4309</integer>
					<integer>4492</integer>
					<integer>4493</integer>
					<integer>4310</integer>
					<integer>4494</integer>
					<integer>4495</integer>
					<integer>4311</integer>
					<integer>4496</integer>
					<integer>4497</integer>
					<integer>4312</integer>
					<integer>4498</integer>
					<integer>4499</integer>
					<integer>4313</integer>
					<integer>4500</integer>
					<integer>4501</integer>
					<integer>4314</integer>
					<integer>4502</integer>
					<integer>4503</integer>
					<integer>4315</integer>
					<integer>4504</integer>
					<integer>4505</integer>
					<integer>4316</integer>
					<integer>4506</integer>
					<integer>4507</integer>
					<integer>4317</integer>
					<integer>4508</integer>
					<integer>4509</integer>
					<integer>4318</integer>
					<integer>4510</integer>
					<integer>4511</integer>
					<integer>4319</integer>
					<integer>4512</integer>
					<integer>4513</integer>
					<integer>4320</integer>
					<integer>4514</integer>
					<integer>4515</integer>
					<integer>4321</integer>
					<integer>4516</integer>
					<integer>4517</integer>
					<integer>4322</integer>
					<integer>4518</integer>
					<integer>4519</integer>
					<integer>4323</integer>
					<integer>4520</integer>
					<integer>4521</integer>
					<integer>4324</integer>
					<integer>4522</integer>
					<integer>4523</integer>
					<integer>4325</integer>
					<integer>4524</integer>
					<integer>4525</integer>
					<integer>4326</integer>
					<integer>4526</integer>
					<integer>4527</integer>
					<integer>4327</integer>
					<integer>4528</integer>
					<integer>4529</integer>
					<integer>4328</integer>
					<integer>4530</integer>
					<integer>4531</integer>
					<integer>4329</integer>
					<integer>4532</integer>
					<integer>4533</integer>
					<integer>4330</integer>
					<integer>4534</integer>
					<integer>4535</integer>
					<integer>4331</integer>
					<integer>4536</integer>
					<integer>4537</integer>
					<integer>4332</integer>
					<integer>4538</integer>
					<integer>4539</integer>
					<integer>4333</integer>
					<integer>4540</integer>
					<integer>4541</integer>
					<integer>4334</integer>
					<integer>4542</integer>
					<integer>4543</integer>
					<integer>4335</integer>
					<integer>4544</integer>
					<integer>4545</integer>
					<integer>4336</integer>
					<integer>4546</integer>
					<integer>4547</integer>
					<integer>4337</integer>
					<integer>4548</integer>
					<integer>4549</integer>
					<integer>4338</integer>
					<integer>4550</integer>
					<integer>4551</integer>
					<integer>4339</integer>
					<integer>4552</integer>
					<integer>4553</integer>
					<integer>4340</integer>
					<integer>4554</integer>
					<integer>4555</integer>
					<integer>4341</integer>
					<integer>4556</integer>
					<integer>4557</integer>
					<integer>4342</integer>
					<integer>4558</integer>
					<integer>4559</integer>
					<integer>4343</integer>
					<integer>4560</integer>
					<integer>4561</integer>
					<integer>4344</integer>
					<integer>4562</integer>
					<integer>4563</integer>
					<integer>4345</integer>
					<integer>4564</integer>
					<integer>4565</integer>
					<integer>4346</integer>
					<integer>4566</integer>
					<integer>4567</integer>
					<integer>4347</integer>
					<integer>4568</integer>
					<integer>4569</integer>
					<integer>4348</integer>
					<integer>4570</integer>
					<integer>4571</integer>
					<integer>4349</integer>
					<integer>4572</integer>
					<integer>4573</integer>
					<integer>4350</integer>
					<integer>4574</integer>
					<integer>4575</integer>
					<integer>4351</integer>
					<integer>4576</integer>
					<integer>4577</integer>
					<integer>4352</integer>
					<integer>4578</integer>
					<integer>4579</integer>
					<integer>4353</integer>
					<integer>4580</integer>
					<integer>4581</integer>
					<integer>4354</integer>
					<integer>4582</integer>
					<integer>4583</integer>
					<integer>4355</integer>
					<integer>4584</integer>
					<integer>4585</integer>
					<integer>4356</integer>
					<integer>4586</integer>
					<integer>4587</integer>
					<integer>4357</integer>
					<integer>4588</integer>
					<integer>4589</integer>
					<integer>4358</integer>
					<integer>4590</integer>
					<integer>4591</integer>
					<integer>4359</integer>
					<integer>4592</integer>
					<integer>4593</integer>
					<integer>4360</integer>
					<integer>4594</integer>
					<integer>4595</integer>
					<integer>4361</integer>
					<integer>4596</integer>
					<integer>4597</integer>
					<integer>4362</integer>
					<integer>4598</integer>
					<integer>4599</integer>
					<integer>4363</integer>
					<integer>4600</integer>
					<integer>4601</integer>
					<integer>4364</integer>
					<integer>4602</integer>
					<integer>4603</integer>
					<integer>4365</integer>
					<integer>4604</integer>
					<integer>4605</integer>
					<integer>4366</integer>
					<integer>4606</integer>
					<integer>4607</integer>
					<integer>4367</integer>
					<integer>4608</integer>
					<integer>4609</integer>
					<integer>4368</integer>
					<integer>4610</integer>
					<integer>4611</integer>
					<integer>4369</integer>
					<integer>4612</integer>
					<integer>4613</integer>
					<integer>4370</integer>
					<integer>4614</integer>
					<integer>4615</integer>
					<integer>4371</integer>
					<integer>4616</integer>
					<integer>4617</integer>
					<integer>4372</integer>
					<integer>4618</integer>
					<integer>4619</integer>
					<integer>4373</integer>
					<integer>4620</integer>
					<integer>4621</integer>
					<integer>4374</integer>
					<integer>4622</integer>
					<integer>4623</integer>
					<integer>4375</integer>
					<integer>4624</integer>
					<integer>4625</integer>
					<integer>4376</integer>
					<integer>4626</integer>
					<integer>4627</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4248</integer>
					<integer>4252</integer>
					<integer>4254</integer>
					<integer>4255</integer>
					<integer>4256</integer>
					<integer>4257</integer>
					<integer>4258</integer>
					<integer>4259</integer>
					<integer>4260</integer>
					<integer>4261</integer>
					<integer>4262</integer>
					<integer>4263</integer>
					<integer>4264</integer>
					<integer>4265</integer>
					<integer>4266</integer>
					<integer>4267</integer>
					<integer>4268</integer>
					<integer>4269</integer>
					<integer>4270</integer>
					<integer>4271</integer>
					<integer>4272</integer>
					<integer>4273</integer>
					<integer>4274</integer>
					<integer>4275</integer>
					<integer>4276</integer>
					<integer>4277</integer>
					<integer>4278</integer>
					<integer>4279</integer>
					<integer>4280</integer>
					<integer>4281</integer>
					<integer>4282</integer>
					<integer>4283</integer>
					<integer>4284</integer>
					<integer>4285</integer>
					<integer>4286</integer>
					<integer>4287</integer>
					<integer>4288</integer>
					<integer>4289</integer>
					<integer>4290</integer>
					<integer>4291</integer>
					<integer>4292</integer>
					<integer>4293</integer>
					<integer>4294</integer>
					<integer>4295</integer>
					<integer>4296</integer>
					<integer>4297</integer>
					<integer>4298</integer>
					<integer>4299</integer>
					<integer>4300</integer>
					<integer>4301</integer>
					<integer>4302</integer>
					<integer>4303</integer>
					<integer>4304</integer>
					<integer>4305</integer>
					<integer>4306</integer>
					<integer>4307</integer>
					<integer>4308</integer>
					<integer>4309</integer>
					<integer>4310</integer>
					<integer>4311</integer>
					<integer>4312</integer>
					<integer>4313</integer>
					<integer>4314</integer>
					<integer>4315</integer>
					<integer>4316</integer>
					<integer>4317</integer>
					<integer>4318</integer>
					<integer>4319</integer>
					<integer>4320</integer>
					<integer>4321</integer>
					<integer>4322</integer>
					<integer>4323</integer>
					<integer>4324</integer>
					<integer>4325</integer>
					<integer>4326</integer>
					<integer>4327</integer>
					<integer>4328</integer>
					<integer>4329</integer>
					<integer>4330</integer>
					<integer>4331</integer>
					<integer>4332</integer>
					<integer>4333</integer>
					<integer>4334</integer>
					<integer>4335</integer>
					<integer>4336</integer>
					<integer>4337</integer>
					<integer>4338</integer>
					<integer>4339</integer>
					<integer>4340</integer>
					<integer>4341</integer>
					<integer>4342</integer>
					<integer>4343</integer>
					<integer>4344</integer>
					<integer>4345</integer>
					<integer>4346</integer>
					<integer>4347</integer>
					<integer>4348</integer>
					<integer>4349</integer>
					<integer>4350</integer>
					<integer>4351</integer>
					<integer>4352</integer>
					<integer>4353</integer>
					<integer>4354</integer>
					<integer>4355</integer>
					<integer>4356</integer>
					<integer>4357</integer>
					<integer>4358</integer>
					<integer>4359</integer>
					<integer>4360</integer>
					<integer>4361</integer>
					<integer>4362</integer>
					<integer>4363</integer>
					<integer>4364</integer>
					<integer>4365</integer>
					<integer>4366</integer>
					<integer>4367</integer>
					<integer>4368</integer>
					<integer>4369</integer>
					<integer>4370</integer>
					<integer>4371</integer>
					<integer>4372</integer>
					<integer>4373</integer>
					<integer>4374</integer>
					<integer>4375</integer>
					<integer>4376</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4375</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4374</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4373</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4372</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4371</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>4370</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{464, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>4248</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>271</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>1089</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>272</integer>
					<integer>273</integer>
					<integer>274</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>275</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>106</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>2840</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>947</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{54, 0}</string>
				<key>BinderDocIDs</key>
				<array>
					<integer>269</integer>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>1025</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>106</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>1073</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4631</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4631</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>260</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>1002</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>label</string>
			<string>status</string>
		</array>
		<key>widths</key>
		<dict>
			<key>label</key>
			<real>114.50390625</real>
			<key>status</key>
			<real>100.89453125</real>
			<key>title</key>
			<real>535.1640625</real>
		</dict>
	</dict>
	<key>mainDocumentEditor.outlinerState</key>
	<array>
		<integer>4248</integer>
		<integer>4356</integer>
	</array>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {414.28571, 365.14285}}</string>
	<key>mainDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<true/>
		<key>textScale</key>
		<integer>175</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>mainDocumentView</key>
	<string>supportingDocumentEditor</string>
	<key>mainWindowFrame</key>
	<string>442 191 1408 764 0 0 2560 1418 </string>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
			<string>LABEL</string>
			<string>STATUS</string>
		</array>
		<key>widths</key>
		<dict>
			<key>LABEL</key>
			<real>92.84375</real>
			<key>STATUS</key>
			<real>170</real>
			<key>TITLE</key>
			<real>163.70703125</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array>
		<integer>897</integer>
	</array>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>3</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
	</array>
	<key>supportingDocumentEditor.lockedInPlace</key>
	<false/>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>9</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>300</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>297</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>4632</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>1</integer>
				</array>
				<key>ViewMode</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>2840</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>1073</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>2840</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>897</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>supportingDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>words</string>
			<string>label</string>
			<string>status</string>
		</array>
		<key>widths</key>
		<dict>
			<key>label</key>
			<real>132.3671875</real>
			<key>status</key>
			<real>89.56640625</real>
			<key>title</key>
			<real>381.97265625</real>
			<key>words</key>
			<real>44.2890625</real>
		</dict>
	</dict>
	<key>supportingDocumentEditor.outlinerState</key>
	<array>
		<integer>4248</integer>
		<integer>4252</integer>
		<integer>4254</integer>
		<integer>4255</integer>
		<integer>4256</integer>
		<integer>4257</integer>
		<integer>4258</integer>
		<integer>4259</integer>
		<integer>4260</integer>
		<integer>4261</integer>
		<integer>4262</integer>
		<integer>4263</integer>
		<integer>4264</integer>
		<integer>4265</integer>
		<integer>4266</integer>
		<integer>4267</integer>
		<integer>4268</integer>
		<integer>4269</integer>
		<integer>4270</integer>
		<integer>4271</integer>
		<integer>4272</integer>
		<integer>4273</integer>
		<integer>4274</integer>
		<integer>4275</integer>
		<integer>4276</integer>
		<integer>4277</integer>
		<integer>4278</integer>
		<integer>4279</integer>
		<integer>4280</integer>
		<integer>4281</integer>
		<integer>4282</integer>
		<integer>4283</integer>
		<integer>4284</integer>
		<integer>4285</integer>
		<integer>4286</integer>
		<integer>4287</integer>
		<integer>4288</integer>
		<integer>4289</integer>
		<integer>4290</integer>
		<integer>4291</integer>
		<integer>4292</integer>
		<integer>4293</integer>
		<integer>4294</integer>
		<integer>4295</integer>
		<integer>4296</integer>
		<integer>4297</integer>
		<integer>4298</integer>
		<integer>4299</integer>
		<integer>4300</integer>
		<integer>4301</integer>
		<integer>4302</integer>
		<integer>4303</integer>
		<integer>4304</integer>
		<integer>4305</integer>
		<integer>4306</integer>
		<integer>4307</integer>
		<integer>4308</integer>
		<integer>4309</integer>
		<integer>4310</integer>
		<integer>4311</integer>
		<integer>4312</integer>
		<integer>4313</integer>
		<integer>4314</integer>
		<integer>4315</integer>
		<integer>4316</integer>
		<integer>4317</integer>
		<integer>4318</integer>
		<integer>4319</integer>
		<integer>4320</integer>
		<integer>4321</integer>
		<integer>4322</integer>
		<integer>4323</integer>
		<integer>4324</integer>
		<integer>4325</integer>
		<integer>4326</integer>
		<integer>4327</integer>
		<integer>4328</integer>
		<integer>4329</integer>
		<integer>4330</integer>
		<integer>4331</integer>
		<integer>4332</integer>
		<integer>4333</integer>
		<integer>4334</integer>
		<integer>4335</integer>
		<integer>4336</integer>
		<integer>4337</integer>
		<integer>4338</integer>
		<integer>4339</integer>
		<integer>4340</integer>
		<integer>4341</integer>
		<integer>4342</integer>
		<integer>4343</integer>
		<integer>4344</integer>
		<integer>4345</integer>
		<integer>4346</integer>
		<integer>4347</integer>
		<integer>4348</integer>
		<integer>4349</integer>
		<integer>4350</integer>
		<integer>4351</integer>
		<integer>4352</integer>
		<integer>4353</integer>
		<integer>4354</integer>
		<integer>4355</integer>
		<integer>4356</integer>
		<integer>4357</integer>
		<integer>4358</integer>
		<integer>4359</integer>
		<integer>4360</integer>
		<integer>4361</integer>
		<integer>4362</integer>
		<integer>4363</integer>
		<integer>4364</integer>
		<integer>4365</integer>
		<integer>4366</integer>
		<integer>4367</integer>
		<integer>4368</integer>
		<integer>4369</integer>
		<integer>4370</integer>
		<integer>4371</integer>
		<integer>4372</integer>
		<integer>4373</integer>
		<integer>4374</integer>
		<integer>4375</integer>
		<integer>4376</integer>
	</array>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {414.28571, 382.85715}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScale</key>
		<integer>175</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
